/* ---- UTILITY CLASSES ---- */
.container-bg {
    width: 100%;
}

.img-container > img {
    width: 100%;
}

h1 {
    font-size: 45px;
}

h3 {
    padding-top: 40px;
    padding-bottom: 15px;
}

h4 {
    padding-bottom: 15px;
}

h6 {
    font-size: 18px;
    padding-bottom: 5px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

button {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: white;
}

button:hover {
    transform: scale(1.2);
    filter: brightness(150%);
}

.b-red {
    background-color: red;
}

.b-orange {
    background-color: #cd3d0f;
}

.b-blue {
    background-color: #2d64e6;
}

.b-white {
    background-color: white;
    color: #08203b;
}

.b-special {
    background-color: lightgray;
    color: #2d64e6;
}


/* --------------------- */
*{
    letter-spacing: .5px;
}

header {
    background-image: url('../img/jumbo-bg.png');
    /* background-size: 270%; */
    background-size: cover;
    background-position-x: center;
    color: white;
}

header .description {
    padding-top: 320px;
    padding-bottom: 80px;
    filter: grayscale(30%);
}

header .img-container {
    width: 60%;
    padding-bottom: 20px;
}

main {
    padding-top: 30px;
}

.box-mini-games {
    border-radius: 20px;
    border: 2px #fff solid;
    margin-bottom: 30px;
}

.box-mini-games:hover {
    border: 3px #1abc9c solid;
    cursor: pointer;
}

.box-mini-games .img-container {
    border: 2px #fff solid;
    overflow: hidden;
    border-radius: 20px;
}

.presentation {
    padding-top: 60px;
    padding-bottom: 30px;
}

.presentation > * {
    text-align: center;
}

.presentation h6 {
   margin-bottom: -5px;
   font-size: .8rem; 
   color: #2d64e6;
}

main p {
    color: grey;
    font-weight: 600;
}

.items .img-container {
    border-bottom: 3px #fff solid;
    opacity: .7;
}

.items .img-container:hover {
    border-bottom: 3px #2d64e6 solid;
    opacity: 1;
    cursor: pointer;
}

.items {
    padding-bottom: 50px;
    text-align: center;
}

.items p {
    margin-top: 10px;
    display: none;
}

@media only screen and (min-width: 767px) {
    .items p {
        display: block;
    }
    .items .img-container > img {
        width: 60%;
    }
    .items .img-container {
        height: 245px;
    }
}

.takes2 {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position-x: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}

.takes2 .img-container {
    padding-bottom: 50px;
}

.takes2 .img-container > img {
    width: 60%;
}

.takes2 p {
    color: white;
}

.news {
    background-color: #1f1f1f;
    color: white;
}

.news .img-container {
    border-radius: 15px;
    overflow: hidden;
}

.news h6 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.explore button {
    margin-bottom: 50px;
}

.explore p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-plus {
    background-color: grey;
}

.p-plus p {
    color: black;
}

.p-plus-box .img-container > img {
    width: 60%;
}

@media only screen and (max-width: 991px) {
    .p-plus-box, .p-now-box {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.p-store .img-container {
   padding-bottom: 50px; 
}

.p-now {
    background-color: #08203b;
}

.p-now p {
    color: white;
    padding-top: 50px;
    font-weight: normal;
}

.img-container.logo > img {
    width: 70%;
}