/* ---- UTILITY CLASSES ---- */

.img-container > img {
    width: 100%;
}

h1 {
    font-size: 45px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

h3 {
    padding-top: 40px;
    padding-bottom: 15px;
}

h4 {
    padding-bottom: 15px;
}

h6 {
    font-size: 18px;
    padding-bottom: 5px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

button {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: white;
}

button:hover {
    transform: scale(1.2);
    opacity: .9;
}

.b-red {
    background-color: red;
}

.b-orange {
    background-color: #cd3d0f;
}

.b-blue {
    background-color: #2d64e6;
}

.b-white {
    background-color: white;
    color: #08203b;
}

.b-black {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

.b-special {
    background-color: rgb(224, 223, 223);
    color: #2d64e6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

.img-container:hover {
    cursor: pointer;
}

/* --------------------- */


*{
    letter-spacing: .4px;
}

/* ----- TOPBAR ----- */

.black {
    background-color: black;
    height: 50px;
}

.black .img-container {
    width: 130px;
}

.topbar {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.904);
    padding: 0 12px;
}

.topbar img {
    width: 80px;
}

/* --- disallineamento --- */

.topbar ul {
    margin-bottom: -5px;
    margin-left: -10px;
}

section.left {
    margin-bottom: -12px;
}

.topbar button {
    margin-top: -10px;
}

/* ----------------------- */

.topbar li {
    margin-right: 20px;
}

.topbar a {
    font-size: 16px;
    font-weight: 500;
}

.topbar i.fa-chevron-down {
    font-size: 10px;
    color: grey;
    margin-left: 5px;
}

.topbar i.fa-search {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.801);
    margin-left: 20px;
}

.hamburger-menu i.fa-bars {
    font-size: 25px;
    color: grey;
    border: 1px solid lightgray;
    padding: 9px 18px;
    border-radius: 5px;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.hamburger-menu:active {
    transform: scale(1.2);
}

/*  -----------------------  */

header {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position-x: center;
    color: white;
    height: 800px;
    animation: back-change 12s infinite;
}

@keyframes back-change {
    48% {background-image: url('../img/jumbo-bg.png');}
    50% {background-image: url('../img/Knockout-City.png');}
    99% {background-image: url('../img/Knockout-City.png');}   
}


.description {
    /* position: relative; */
    /* margin-top: 420px; */
    filter: grayscale(30%);
    /*animation: ups 2s forwards;*/
    margin-top: 320px;
}

/* ----- RETURNAL----- */

#returnal {
    animation: upone 12s infinite;
    position: relative;
}

/* ---- FUNZIONA VOGLIO PIANGERE ---- */
@keyframes upone {
    0%  {height: 0; overflow: hidden;}
    2%  {top: 100px;}
    20% {top: 0; height: auto;}
    48% {top: 0; height: auto;}
    50% {height: 0; overflow: hidden;}
    100% {height: 0; overflow: hidden;}
}

.one {
    animation: overone 12s normal infinite forwards;
}

@keyframes overone {
    0%  {height: 50px; overflow: hidden; }
    5% {height: 130px;}
    10% {height: 260px;}
    15% {height: auto;}
    100% {height: auto;}    
}


/*  ------ KNOCK ------ */

#knock {
    animation: uptwo 12s infinite;
    position: relative;
    color: red;
}

@keyframes uptwo {
    0%  {height: 0; overflow: hidden;}
    50% {height: 0; overflow: hidden;}
    53% {height: auto; top: 100px; }
    70% {height: auto; top: 0; }
    /* 100% {height: auto; top: 0; } */
    98% {height: auto; top: 0;}
    100% {height: 0; overflow: hidden;}
}

.two {
    animation: overtwo 12s normal infinite forwards;
}

@keyframes overtwo {
    0%   {height: auto;}
    50%  {height: 50px; overflow: hidden; }
    55%  {height: 130px;}
    60%  {height: 260px;}
    75%  {height: auto;}
    100% {height: auto;}    
}






header .img-container {
    width: 60%;
    padding-bottom: 20px;
}

main {
    padding-top: 30px;
}

.box-mini-games {
    border: 2px #fff solid;
    border-radius: 20px;
    margin-bottom: 30px;
}

.box-mini-games:hover {
    border: 3px #1abc9c solid;
    cursor: pointer;
}

.box-mini-games .img-container {
    border: 2px #fff solid;
    border-radius: 20px;
    overflow: hidden;
}

.presentation {
    padding-top: 60px;
    padding-bottom: 30px;
}

.presentation h6 {
   margin-bottom: -5px;
   font-size: .8rem; 
   color: #2d64e6;
}

main p {
    color: grey;
    font-weight: 600;
}

.items .img-container {
    border-bottom: 3px #fff solid;
    opacity: .7;
}

.items .img-container:hover {
    border-bottom: 3px #2d64e6 solid;
    opacity: 1;
    cursor: pointer;
}

.items, .takes2 .img-container,.takes2, .p-store .img-container {
    padding-bottom: 50px;
}

.items p {
    margin-top: 10px;
    display: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.822);
}

@media only screen and (min-width: 767px) {
    .items p {
        display: block;
    }
    .items .img-container > img {
        width: 60%;
    }
    .items .img-container {
        height: 245px;
    }
}

.takes2 {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position-x: center;
    color: white;
    padding-top: 100px;
    filter: grayscale(20%);
}

.takes2 .img-container > img {
    width: 60%;
}

.takes2 p {
    color: white;
}

.news {
    background-color: #1f1f1f;
    color: white;
}

.news .img-container {
    border-radius: 15px;
    overflow: hidden;
}

.news .img-container:hover {
    transform: scale(.9);
    filter: drop-shadow(10px 10px 10px black);
}

.news h6 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.explore button {
    margin-bottom: 50px;
}

.explore p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.explore-box:hover img {
    transform: scale(.8);
}

.symbol-r {
    display: inline-block;
    font-size: 25px;
    vertical-align: super;
    margin-left: -18px;
    font-weight: bold;
}

.p-plus {
    background-color: rgb(190, 190, 190);
}

.p-plus p {
    color: rgba(0, 0, 0, 0.63);
}

.p-plus-box .img-container {
    width: 60%;
}

@media only screen and (max-width: 991px) {
    .p-plus-box, .p-now-box {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.p-store .img-container:hover {
    transform: scale(.9);
}

.p-now {
    background-color: #08203b;
}

.p-now p {
    color: white;
    padding-top: 50px;
    font-weight: normal;
}

.p-now .img-container.logo {
    width: 70%;
}

.media {
    padding-top: 40px;
    padding-bottom: 40px;
}

.media .img-container {
    padding-bottom: 70px;
}

.media .img-container:hover {
    transform: scale(1.2);
    filter: drop-shadow(8px 8px 10px gray);
}

footer {
    background-color: #00439c;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.img-container.logo-footer {
    width: 15%;
} 

footer svg, footer svg path {
    fill: white;
}

footer i {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 23px;
}

footer .text {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

footer li {
    line-height: 35px;
}

.img-container.logo-footer-sony {
    width: 30%;
}

.footer-item:first-child {
    margin-top: -15px;
    padding-bottom: 50px;
}

.footer-item:last-child {
    padding-top: 50px;
}

footer p:last-child > a {
    text-decoration: underline;
}










