/* ---- UTILITY CLASSES ---- */
.container-bg {
    width: 100%;
}

.img-container > img {
    width: 100%;
}

h1 {
    font-size: 45px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

button {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

button:hover {
    transform: scale(1.2);
}

/* --------------------- */
*{
    letter-spacing: .5px;
}

header {
    background-image: url('../img/jumbo-bg.png');
    /* background-size: 270%; */
    background-size: cover;
    background-position-x: center;
    color: white;
}

header .description {
    padding-top: 320px;
    padding-bottom: 80px;
    filter: grayscale(30%);
}

header .img-container {
    width: 60%;
    padding-bottom: 20px;
}

.b-red {
    background-color: red;
    color: white;
    width: 150px;
}

main {
    padding-top: 30px;
}

.box-mini-games {
    border-radius: 20px;
    border: 2px #fff solid;
    margin-bottom: 30px;
}

.box-mini-games:hover {
    border: 3px #1abc9c solid;
}

.box-mini-games .img-container {
    border: 2px #fff solid;
    overflow: hidden;
    border-radius: 20px;
}

.presentation {
    padding-top: 50px;
    padding-bottom: 60px;
}

.presentation > * {
    text-align: center;
}

.presentation h6 {
   margin-bottom: -5px;
   font-size: .8rem; 
   color: blue;
}

main p {
    color: grey;
    font-weight: 600;
}

.blue {
    background-color: blue;
    color: white;
}




